{% extends 'base.html.twig' %}

{% block title %}My Cart! {{ parent() }}{% endblock %}

{% block body %}
    <section class="container">
        <div class="row mb-3">
            <div class="col col-12">
                <h1>My Cart</h1>
            </div>
        </div>
        <div class="row d-none d-lg-flex my-3">
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">products</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">name of product</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">price</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">quantity</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">remove</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">total</strong>
            </div>
        </div>

        {% for item in inventory.products %}
        <div class="row my-5 text-capitalize text-center align-items-center">
            <div class="col-10 mx-auto col-lg-2">
                <a href="{{ path('web_product', {slug: item.product.slug}) }}">
                    <img
                        src="{{ asset('assets/products/' ~ item.product.image) }}"
                        class="img-fluid" alt=""
                        style="width: auto;min-height: 5rem;"
                    >
                </a>
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <strong><span class="d-lg-none">product :</span> {{ item.product.name }}</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <strong><span class="d-lg-none">price :</span> $ {{ item.product.price|number_format(2) }}</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 my-2 my-lg-0 ">
                <div class="d-flex justify-content-center">
                    <div class="form-inline">
                        <div class="input-group" style="max-width: 145px;">
                            <form class="d-inline-block" action="{{ path('web_cart_reduce', {id: item.product.id, qty: 1}) }}" method="POST">
                                <button type="submit" class="btn btn-danger h-100">-</button>
                            </form>
                            <input type="text" class="form-control form-control-lg d-inline-block text-center" value="{{ item.qty }}">
                            <form class="d-inline-block" action="{{ path('web_cart_add', {id: item.product.id, qty: 1}) }}" method="POST">
                                <button type="submit" class="btn btn-success h-100">+</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <a href="#" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <strong><span class="d-lg-none">item total :</span> $ {{ item.total|number_format(2) }} </strong>
            </div>
        </div>
        {% else %}
        <div class="row my-5 text-center">
            <div class="col col-12">
                <div class="alert alert-info">Your cart is empty, please check our <a href="{{ path('web_home') }}">products</a>.</div>
            </div>
        </div>
        {% endfor %}

        <hr>

        <div class="row my-5">
            <div class="col col-12 text-capitalize text-capitalize text-center text-lg-right">
                <h5><span class="text-title"> total :</span> <strong>$ {{ inventory.totalCost|number_format(2) }} </strong></h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">
                    Checkout
                </button>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col col-12 text-capitalize text-center text-lg-left">
                <a href="/">
                    <a href="{{ path('web_cart_clear') }}" class="btn btn-outline-danger text-uppercase mb-3 px-5"><i class="fa fa-trash"></i> clear cart</a>
                </a>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <form action="{{ path('web_cart_checkout') }}" method="POST">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Checking out...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                        <div class="form-group">
                            <label for="contactEmail">Please fill up your email address.<br> We will contact you once we've verified your payment.</label>
                            <input name="contactEmail" type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" name="gateway" value="paypal_express_checkout">
                            <i class="fab fa-paypal"></i> Checkout with PayPal
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- Modal ends -->
{% endblock %}
